* {
  padding: 0;
  margin: 0; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #131313;
  font-family: 'Roboto', sans-serif; }

img {
  max-width: 100%;
  height: auto; }

main {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%; }

a {
  color: #233670; }

a,
button,
input,
textarea {
  outline: none !important;
  box-shadow: none !important; }

a:hover {
  text-decoration: none;
  color: #000000;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?dwgu03");
  src: url("../fonts/icomoon.eot?dwgu03#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?dwgu03") format("truetype"), url("../fonts/icomoon.woff?dwgu03") format("woff"), url("../fonts/icomoon.svg?dwgu03#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-twitter:before {
  content: "\e900";
  color: #fff; }

.icon-insta:before {
  content: "\e901";
  color: #fff; }

.icon-whatsapp:before {
  content: "\e902";
  color: #fff; }

.icon-facebook:before {
  content: "\e903";
  color: #fff; }

.pages {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; }

.page {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -100%;
  transition: bottom 0.7s; }

.page:first-child {
  bottom: 0; }

.first {
  background-color: #000; }

.second {
  background-color: #131313; }

.pagination {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%); }

.pagination > li {
  list-style: none;
  height: 20px;
  width: 20px;
  background: #fff;
  border-radius: 50%;
  margin-top: 10px;
  transition: background 0.7s; }

.pagination > li.active {
  background: red; }

.logo {
  width: 100%;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 60px 0 0 0; }

.banner-wrap {
  width: 1260px;
  margin: 0 auto;
  padding: 70px 0;
  position: absolute;
  bottom: -70px;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }
  .banner-wrap .cell {
    background: #FD2C55;
    height: 484px;
    margin: 0 0;
    position: relative;
    z-index: 9;
    -webkit-border-radius: 80px;
    border-radius: 80px;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center; }
    .banner-wrap .cell .inner {
      width: 670px;
      text-align: center; }
    .banner-wrap .cell p.small {
      font-size: 25px;
      font-weight: 400;
      color: #000;
      line-height: normal;
      margin: 0; }
    .banner-wrap .cell p.big {
      font-size: 30px;
      font-weight: 500;
      color: #000;
      line-height: normal;
      margin: 20px 0; }
      .banner-wrap .cell p.big span {
        display: block;
        color: #fff; }
    .banner-wrap .cell p.last {
      font-size: 20px;
      font-weight: 400;
      margin: 40px 0 0 0;
      padding: 0 80px;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      justify-content: space-between; }
  .banner-wrap .round {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #00F7EF;
    width: 624px;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .banner-wrap img.left {
    position: absolute;
    left: -80px;
    top: -40px; }
  .banner-wrap img.right {
    position: absolute;
    right: -80px;
    top: -40px; }
  .banner-wrap .top-icons {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 10;
    width: 870px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateX(-50%); }
    .banner-wrap .top-icons img {
      position: relative; }
      .banner-wrap .top-icons img.image-2 {
        top: -27px; }
      .banner-wrap .top-icons img.image-3 {
        top: -42px;
        right: -19px; }
      .banner-wrap .top-icons img.image-4 {
        top: -15px; }

.first.page img.shape-right {
  position: absolute;
  top: -80px;
  right: -11.8%;
  height: 100%; }
.first.page img.shape-left {
  position: absolute;
  top: 40px;
  left: -10.5%;
  height: 100%; }

.second.page {
  display: flex;
  -webkit-align-items: center;
  align-items: center; }
  .second.page .inner {
    width: 1170px;
    margin: 0 auto; }
    .second.page .inner .cell-wrap {
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%; }
      .second.page .inner .cell-wrap .cell {
        width: 50%;
        padding-right: 25px; }
        .second.page .inner .cell-wrap .cell:last-child {
          padding-left: 25px; }
  .second.page h1 {
    font-size: 60px;
    color: #00F7EF;
    margin: 0 0 60px 0;
    font-weight: 400; }
  .second.page ul {
    margin: 0;
    padding: 0;
    font-size: 26px;
    color: #fff;
    list-style: none; }
    .second.page ul li {
      padding: 0 0 0 65px;
      position: relative;
      margin: 0 0 30px 0; }
      .second.page ul li::after {
        width: 34px;
        height: 34px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #FFF;
        content: "";
        position: absolute;
        left: 0;
        top: -2px; }
  .second.page span {
    font-size: 20px;
    color: #00F7EF;
    display: block;
    padding-left: calc(50% + 65px);
    top: -57px;
    position: relative; }
  .second.page img.shape-right {
    position: absolute;
    top: 0;
    right: -14%;
    height: 100%; }
  .second.page img.shape-left {
    position: absolute;
    top: 40px;
    left: -10.5%;
    height: 100%; }
  .second.page .anim-wrap {
    width: 44px;
    position: absolute;
    top: 50%;
    right: 200px;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    .second.page .anim-wrap .scroll-rocktock {
      margin-bottom: 60px; }
    .second.page .anim-wrap .cell {
      width: 100%;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: center;
      align-items: center; }
      .second.page .anim-wrap .cell .blue-dot {
        position: relative;
        margin-top: 10px;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
      .second.page .anim-wrap .cell .chain {
        position: relative;
        margin-top: 35px;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
  .second.page.active .chain {
    margin-top: -131px !important; }
  .second.page.active .blue-dot {
    margin-top: 84px !important; }

.footer {
  background-color: #000;
  height: 360px;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }
  .footer .ft-logo {
    display: table;
    margin: 0 0 50px 0; }
  .footer ul {
    margin: 0;
    padding: 0; }
    .footer ul li {
      float: left;
      margin: 0 30px; }
      .footer ul li a {
        display: block;
        font-size: 40px;
        text-decoration: none; }
        .footer ul li a .icon-facebook:hover:before {
          color: #1877f2; }
        .footer ul li a .icon-whatsapp:hover:before {
          color: #25d366; }
        .footer ul li a .icon-insta:hover:before {
          color: #e1306c; }
        .footer ul li a .icon-twitter:hover:before {
          color: #1da1f2; }
  .footer span.copyright {
    font-size: 14px;
    color: #FFF;
    display: block;
    margin: 50px 0 0 0; }

/*# sourceMappingURL=style.css.map */
